include head
include menu
+head('./js/index.js')



    body
        +menu()
        h1 Users
        .row
            .column.small-7
                table
                    thead
                        tr
                            th(width='200') Name
                            th(width='150') Age
                            th(width='150') Email
                    tbody#usersTable
                        tr
                            td Content Goes Here
                            td This is longer content Donec id elit non mi porta gravida at eget metus.
                            td Content Goes Here












